/* Global */

* {
  box-sizing: border-box;
  margin: .05rem;
  padding: .05rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  height: 80px;
  background-color: #1f0f53;
  display: flex;
  padding: 0rem calc((100vw-1300px) / 2);
}

.logo {
  color: White;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

nav a{
  text-decoration: none;
  color: White;
  padding: 2rem 1.5rem;
}

nav a:hover {
  color: #ffdb99
}

body {
  background-color: #1f0f53; ;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding:3rem calc((100vw-1300px) / 2);

}

.column-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  width: 15%;
  height: 15%;
  display: flex;
}

@media (max-width: 549px) {
  .images {
    padding: 5px;
  }
  .images img {
    width: 80%;
  }
  .hero-container {
    grid-template-columns: 1fr;
  }
  .hidden-container {
    display: none !important;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

nav > i {
  padding: 1rem;
  font-size: 2em;
}

nav > .fa-bars {
  display: none;
}

.small-image {
  width: 200px;
  height: auto;
  padding-bottom: 50px;
}

/* Home Page */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  color: white
}

/* About Me */

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white
}

.images {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: 100%;
}

.images img {
  width: 300px;
  height: auto;
}

.blurb {
  display: flex;
  justify-content: left;
  height: 100%;
  padding-top: 1.5%;
  padding-bottom: 10px;
  color: white;
}

.blurb2 {
  display: flex;
  justify-content: left;
  height: 100%;
  padding-top: 1.5%;
  padding-bottom: 10px;
  color: white;
}

.links {
  display: flex;
  justify-content: left;
  height: 100%;
  padding-top: 1.5%;
  padding-bottom: 10px;
  color: white;
}

.links a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

.links a:visited {
  color: yellow;
  background-color: tranpsarent;
  text-decoration: none;
}

.links a:active {
  color: red;
  background-color: tranpsarent;
  text-decoration: none;
}

/* Calendar */

.calendar-container {
  width: 95%;
  height: calc(70vh - 70px);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  position: fixed;
  align-items: right;
}

.event-container {
  margin: 2em;
}

#delete-event {
  margin-top: 2em;
  padding: 0.5em;
  background-color: hsl(4deg 99% 50%);
  color: white;
}
